*{
    margin: 0;
    padding: 0;
    font-family: 'Spline Sans Mono', monospace;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;

}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: url('background.jpg') ;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.hero header .logo h3 a{
    display: block;
    color: #194da1;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}
.hero header nav .ham{
    height: 24px;
    width: 35px;
    position: absolute;
    right: 3%;
    top: 45px;
    z-index: 5;
    background: tomato ;
    cursor: pointer;
    display: none;

}
.hero header nav .ham span{
    display: block;
    width: 100%;
    height: 3px;
    background: #1e56a3;
    transition: .3s;
    transition-property: transform,opacity;
}
.hero header nav .ham span:nth-child(2){
    margin: 7px 0px;
}
.hero header nav .navi{
    list-style: none;
}
.hero header nav .navi li{
    display: inline-block;
}
.hero header nav .navi li a{
   
   display: inline-block;
   text-decoration: none;
   color: #292d33;
   margin-left: 55px;
   font-weight: 900;
   font-size: 15px; 
   border-bottom: 2px solid transparent;
   transition: .3s

}

.hero header nav .navi li:not(:last-child) a:hover,
.hero header nav .navi li:not(:last-child) a:focus {
   
    border-bottom: 2px solid #292d33;

}

.hero header nav .navi li.active a {
        border-bottom: 2px solid #292d33;
}


.hero header nav .navi li.btn a {
    border: 2px solid #1e56a3;
    color: #1e56a3;
    background: transparent;
    padding: 10px 32px;
    line-height: 1.1;
}
.hero header nav .navi li.btn:hover a {
    color: #ffe299;
    background: #1e56a3;
    border: 2px solid transparent;
    transition: .3s;
}
.hero .banner{
    padding-top: 200px;

}
.hero .banner .text{
    margin-bottom: 40px;

}
.hero .banner .text h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Times;
    line-height: 1.2;
    color: #1e56a3;
    margin: 15px 0px 15px;
}
.hero .banner .text h2{
    color: #292d33;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;

}
.hero .banner .text p{
    max-width: 100%;
        width: 400px;
    color: #292d33;
    margin-bottom: 20px;
    line-height: 1.5;
}
.hero .banner .text button {
    color: #ffe299;
    background: #1e56a3;
    padding: 12px 32px;
    line-height: 1.1;
    font-size: 15px;
    cursor: pointer;
}
.hero .banner .text button:hover {
    transform: scaleX(1.2);
    transition: 0.3s;
}
.hero .banner .conect{
    margin-top: 23px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: flex-start;
}

.hero .banner .conect p{
    font-size: 15px;
    margin-right: 60px;
    font-weight: 700;
    color: #292d33;
    position: relative;
}
.hero .banner .conect p:after {
    content: '';
    border: 1px solid #1e56a3;
    width: 25px;
    top: 50%;
    right: -43px;
    position: absolute;
}
.hero .banner .conect  .links a{
    display: inline-block;
    margin-right: 15px;
    color: #1e56a3;
    font-size: 18px;
    transition: .3s;
}
.hero .banner .conect a:hover{
    transform:rotate(360deg);
    transition: .6s;
}
.service{
    padding-top: 6em;
     height: 700px;
    background-color: #1e56a3;
}

.service h2{
    font-size: 45px;
    display: flex;
    justify-content: center;
    line-height: 1.1;

}
.service h3 {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    line-height: 1.1;

}
#big{
    font-size: 40px ;
    color:#194da1
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-top: 40px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: aquamarine;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
    overflow: scroll;
}

h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
    font-family: Verdana;

}

.pra p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #2fb1d0;
    
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px;
    border-radius: 30px;
    transition: 0.4s;
}

.card .button:hover {
    font-size: 20px;
    margin-top: 13px;
    background-color: transparent;
    border: 2px solid aquamarine;
    cursor: pointer;
}

.meet{
    height: 500px;
    background-color: rgb(0, 0, 0);

}
.meeting h3{
    
    color: blue;
    padding-top: 10em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 12px 30px;
    
    
}
.meeting h3{

   background: aquamarine;
    font-weight: bolder;
    border: 5px solid #1355a4 ;
    border-radius: 20px;

}
.icon{
    display: flex;
    justify-content: center;
    
}
.icon a{
        padding: 10em 13px;
        border-radius: none;
        font-size: 25px;
}



.nil{
    height: 1200px;
    background: #1355a4;

}
.nil h1{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 40px ;
}
.image {
    padding-left: 50px;
    display: inline-block;
    position: absolute;
    padding-top: 20px;
}
.image h4{
    position: relative;
    display:inline-block;
    justify-content: center;
    background:#2fb1d0;
    padding: 12px 20px;
    border: 2px solid #ffe299;
    border-radius: 10px;
    
}
.image img{
    border: 2px solid #ffe299;
    border-radius: 30px;
}

.nil h1{
    background: #2fb1d0;
    border: 2px solid transparent;
     border-radius: 3px;
    }

.layout{
    display: inline-block;
    justify-content: center;
    color: #1355a4;
}
.layout i{
    padding-top: 50px;
    font-size: 80px;
}
.layout a{
    padding-top: 10px;
    color: #2fb1d0;
}














/*









@media screen and (max-width: 900px) {
    .hero header nav .ham{
        display: block;
        height: 30px;

    }
    .click{
        top: 46px;

    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(40deg);
        top: 0px;
    }
    .hero header nav .navi{
        position: absolute;
        top: 0;
        bottom: 0;
        right: -65%;
        width: 65%;
        background: #d6d4b4;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
    }
    .hero header nav .navi li{
        display: block;

    }
    .hero header nav .navi li a{
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 30px;
        border-bottom: none;
        text-align: center;
    }

   .hero header nav .navi li:not(:last-child) a:hover,
   .hero header nav .navi li:not(:last-child) a:focus {
          
       border-bottom: none;
       color: #1e56a3;
       }
    .hero header nav .navi li.active a{
     
        border-bottom: none;
    }
     
   .hero header nav .navi li.btn a{
       position: absolute;
       bottom: 4%;
       right: 9%;
       left: 9%;

    }

    .hero header nav .navi.open{
        right: 0%;
    }


}

*/

















